.bg-grey {
  background-color: #DEDEDE;
}
#main-content span.glyphicon {
  display: block;
}
#main-content ul.nav li {
  float: left;
  text-align: center;
}
@media (min-width: 768px) {
  #main-content ul.nav li {
    width: 16.66%;
  }
}
@media (max-width: 768px) {
  #main-content ul.nav li {
    width: 100%;
  }
}
.subtitle {
  font-size: 22px;
}
.input {
  border: 0;
  color: #18bcb9;
  padding: 2%;
  margin: 0 0 5% 0;
}
@media (min-width: 768px) {
  .half-width {
    width: 49%;
  }
}
.full-width {
  width: 100%;
}
@media (max-width: 768px) {
  .full-width-sm {
    width: 100%;
  }
}
.button {
  border: 0;
  background-color: #18bcb9;
  color: #FFFFFF;
  padding: 2% 5%;
}
#bg-top {
  background-size: cover;
}
@media (min-width: 768px) {
  #bg-top {
    background-image: url('../images/bg-top.jpg');
  }
}
@media (max-width: 768px) {
  #bg-top {
    background-image: url('../images/bg-top-mobile.jpg');
    background-size: auto;
  }
}
#main-top {
  color: #FFFFFF;
}
.navbar {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
nav.navbar div ul.nav li a {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  nav.navbar div ul.nav li a {
    margin: 0 0 3px 0;
    padding-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  nav.navbar div ul.nav li a {
    padding: 15px 10px;
    font-size: 13px;
  }
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: none;
}
@media (min-width: 768px) {
  .nav > li > a:hover,
  .nav > li > a:focus {
    border-bottom: 3px solid #18bcb9;
    margin: 0;
  }
}
.navbar-divider {
  width: 1px;
  background-color: #FFFFFF;
  height: 25px;
  margin: 13px;
  display: block;
}
